
body, h1 {
    margin: 0;
    
}


body {
    
    font-family: 'Your Custom Font', sans-serif; 
}


header {
    background-color: rgb(252, 117, 6); 
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Your Custom Font', sans-serif;
     
}


.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}
/* Add more styles as needed for your header and logo */

