
.header {
    
    color: white;
    padding: 200px;
    text-align: center;
    font-family: Ariel, sans-serif;
  }
  

  .nav-link {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  

  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    text-decoration: none;
    color: white;
  }