/* Header.css */

/* Style for the header */
.header {
    
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Your Custom Font', sans-serif; /* Replace 'Your Custom Font' with the desired font name */
  }
  
  /* Style for navigation links */
  .nav-link {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  
  /* Remove default link highlighting */
  .nav-link:hover,
  .nav-link:focus,
  .nav-link:active {
    text-decoration: none;
    color: white;
  }